# SPDX-FileCopyrightText: 2020 iteratec GmbH
#
# SPDX-License-Identifier: Apache-2.0

# Default values for dispatcher.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

notification:
  # notification.url -- The URL of your WebHook endpoint
  url: "http://example.com"
  # notification.template -- The MS Teams message template that should be used [messageCard | adaptiveCard].
  template: messageCard
  # notification.rules -- A optional rule definition that can be used to describe in wich case a notification must be fired. If not defined / empty each scan result will be notified.
  rules: []
  #- matches:
  #    anyOf:
  #      - severity: "high"
  #      - severity: "medium"

vulnerabilityManagement:
  # vulnerabilityManagement.enabled If enabled a direct link to your vulnerability management system will be added at the bottom of each message.
  enabled: false
  # vulnerabilityManagement.name The name of your vulnerability management system wich you reference to.
  name: Kibana Dashboard
  # vulnerabilityManagement.url The URL to your vulnerability management system wich will be added at the bottom of each message.
  url: "https://your-kibana-service.url/your-dashboard-path"
  # vulnerabilityManagement.url A special URL used to deep link into your vulnerability management system. The placeholder {{uid}} will be replaced with the current scanId (uid).
  findingsUrl: "https://your-kibana-service.url/your-dashboard-path/filter:{{uid}}"

hook:
  image:
    # hook.image.repository -- Hook image repository
    repository: docker.io/securecodebox/teams-webhook
    # hook.image.tag -- Image tag
    # @default -- defaults to the charts version
    tag: null

  # hook.ttlSecondsAfterFinished -- seconds after which the kubernetes job for the hook will be deleted. Requires the Kubernetes TTLAfterFinished controller: https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/
  ttlSecondsAfterFinished: null
