# Default values for dispatcher.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

webhookUrl: "http://example.com"

image:
  repository: docker.io/scbexperimental/generic-webhook
  # image.tag - defaults to the charts version
  tag: null
