# SPDX-FileCopyrightText: the secureCodeBox authors
#
# SPDX-License-Identifier: Apache-2.0

# shellcheck shell=sh
# https://direnv.net/man/direnv-stdlib.1.html
PATH_add bin
# shellcheck disable=SC2155
export PROJECT_DIR="$(pwd)"

export S3_BUCKET="scb"
export S3_USE_SSL="false"
export S3_ENDPOINT="127.0.0.1:9000"
# shellcheck disable=2039,1090
source "${PROJECT_DIR}/.s3_credentials"
