**/node_modules
**/coverage
hooks/declarative-subsequent-scans/hook.js
hooks/declarative-subsequent-scans/scan-helpers.js
hooks/declarative-subsequent-scans/kubernetes-label-selector.js
scanners/zap-extended/scanner/scripts/*
