# SPDX-FileCopyrightText: 2020 iteratec GmbH
#
# SPDX-License-Identifier: Apache-2.0

.DS_Store
**/node_modules
**/coverage/
**/__pycache__
**/.pytest_cache
**/.asciinema
.vagrant
**/*.log
**/*.monopic
.s3_credentials
**/__pycache__


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
