{{ define "extra.badgesSection" -}}
<p align=„center“>
  <img alt=„secureCodeBox Logo“ src=„./docs/resources/securecodebox-logo.svg“ width=„500px“>
  <img alt=„secureCodeBox Logo“ src=„https://owasp.org/assets/images/logo.png“ width=„200px“>
</p>

<p align=„center“>
  <a href=„https://opensource.org/licenses/Apache-2.0“><img alt=„License Apache-2.0“ src=„https://img.shields.io/badge/License-Apache%202.0-blue.svg“></a>
  <a href=„https://github.com/secureCodeBox/secureCodeBox/releases/latest“><img alt=„GitHub release (latest SemVer)“ src=„https://img.shields.io/github/v/release/secureCodeBox/secureCodeBox?sort=semver“></a>
  <a href=„https://owasp.org/www-project-securecodebox/„><img alt=„OWASP Incubator Project“ src=„https://img.shields.io/badge/OWASP-Incubator%20Project-365EAA“></a>
  <a href=„https://artifacthub.io/packages/search?repo=seccurecodebox“><img alt=„Artifact HUB“ src=„https://img.shields.io/endpoint?url=https://artifacthub.io/badge/repository/seccurecodebox“></a>
  <a href=„https://twitter.com/securecodebox“><img alt=„Twitter Follower“ src=„https://img.shields.io/twitter/follow/securecodebox?style=flat&color=blue&logo=twitter“></a>
</p>
<p align=„center“>
  <a href=„https://github.com/secureCodeBox/secureCodeBox/actions?query=workflow%3ACI“><img alt=„Build“ src=„https://github.com/secureCodeBox/secureCodeBox/workflows/CI/badge.svg“></a>
  <a href=„https://codeclimate.com/github/secureCodeBox/secureCodeBox/maintainability“><img alt=„Maintainability“  src=„https://api.codeclimate.com/v1/badges/0c41659fde992429bfed/maintainability“ /></a>
  <a href=„https://codeclimate.com/github/secureCodeBox/secureCodeBox/test_coverage“><img alt=„Test Coverage“ src=„https://api.codeclimate.com/v1/badges/0c41659fde992429bfed/test_coverage“ /></a>
  <a href=„https://snyk.io/test/github/secureCodeBox/secureCodeBox/„><img alt=„Known Vulnerabilities“ src=„https://snyk.io/test/github/secureCodeBox/secureCodeBox/badge.svg“></a>
  <a href=„https://app.fossa.com/projects/git%2Bgithub.com%2FsecureCodeBox%2FsecureCodeBox?ref=badge_shield“ alt=„FOSSA Status“><img src=„https://app.fossa.com/api/projects/git%2Bgithub.com%2FsecureCodeBox%2FsecureCodeBox.svg?type=shield“/></a>
</p>
{{- end }}
{{ define "extra.licenceSection" -}}
## License

Code of secureCodeBox is licensed under the [Apache License 2.0][scb-license].
{{- end }}
{{ define "extra.communitySection" -}}
## Community

You are welcome, please join us on... 👋

- [GitHub][scb-github]
- [Slack][scb-slack]
- [Twitter][scb-twitter]

secureCodeBox is an official [OWASP][owasp] project.
{{- end }}
{{ define "extra.contributionSection" -}}
## Contributing

Contributions are welcome and extremely helpful 🙌
Please have a look at [Contributing](./CONTRIBUTING.md)
{{- end }}
