# SPDX-FileCopyrightText: 2021 iteratec GmbH
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Namespace
metadata:
  name: juice-shop
  annotations:
    auto-discovery.securecodebox.io/enabled: "true"
---
apiVersion: v1
kind: Service
metadata:
  name: juice-shop
  namespace: juice-shop
  labels:
    scm.securecodebox.io/branch: v12.8.0
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: juice-shop
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: juice-shop
  namespace: juice-shop
  labels:
    app: juice-shop
spec:
  selector:
    matchLabels:
      app: juice-shop
  replicas: 1
  template:
    metadata:
      labels:
        app: juice-shop
    spec:
      containers:
        - name: juice-shop
          image: bkimminich/juice-shop:v12.8.0
          ports:
            - name: http
              containerPort: 3000
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: zap-advanced
  namespace: juice-shop
spec:
  chart:
    repository: https://charts.securecodebox.io
    version: 3.2.0
    name: zap-advanced
