{
  "env": {
    "node": true,
    "commonjs": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": ["eslint:recommended", "plugin:security/recommended"],
  "plugins": ["prettier", "security"],
  "rules": {}
}
