{{- /*
SPDX-FileCopyrightText: 2020 iteratec GmbH

SPDX-License-Identifier: Apache-2.0
*/ -}}

{{ template "extra.badgesSection" . }}

{{ template "extra.dockerDeploymentSection" . }}

## How to use this image
```bash
docker pull securecodebox/parser-amass
```

{{ template "extra.scannerAboutSection" . }}

{{ template "extra.scannerConfigurationSection" . }}

{{ template "extra.communitySection" . }}

{{ template "extra.dockerLicenseSection" . }}