---
title: "test-scan"
hidden: true
---

# test-scan

The `test-scan` type is used internally in the secureCodeBox to test the operator.
It's rather unlikely that you'll need this outside of testing usecases, as it doesn't really do anything ;)

## Chart Configuration

{{ template "chart.valuesTable" . }}
