{#
SPDX-FileCopyrightText: the secureCodeBox authors

SPDX-License-Identifier: Apache-2.0
#}
to: {{ scan.metadata.annotations["notification.securecodebox.io/email-recipient"] | default(null, true) | safe}}
subject: New {{ scan.spec.scanType }} security scan results are available!
text: |
  *Scan {{ scan.metadata.name }}*
  Created at {{ scan.metadata.creationTimestamp }}

  *Findings Severity Overview*:
  {% for severity, counter in scan.status.findings.severities -%}
  {{ severity }}: {{ counter }}
  {% endfor %}
  *Findings Category Overview*:
  {% for category, counter in scan.status.findings.categories -%}
  {{ category }}: {{ counter }}
  {% endfor %}
html: |
  <strong>Scan {{ scan.metadata.name }}</strong><br>
  Created at {{ scan.metadata.creationTimestamp }}
  <br>
  <br>
  <strong>Findings Severity Overview:</strong><br>
  {% for severity, counter in scan.status.findings.severities -%}
  {{ severity }}: {{ counter }}<br>
  {% endfor %}
  <br>
  <strong>Findings Category Overview:</strong><br>
  {% for category, counter in scan.status.findings.categories -%}
  {{ category }}: {{ counter }}<br>
  {% endfor %}
