{#
SPDX-FileCopyrightText: the secureCodeBox authors

SPDX-License-Identifier: Apache-2.0
#}
blocks:
- type: header
  text:
    type: plain_text
    text: New {{ scan.spec.scanType }} security scan results are available!
    emoji: true
- type: context
  elements:
  - type: image
    image_url: https://www.securecodebox.io/favicon.png
    alt_text: secureCodeBox Favicon
  - type: mrkdwn
    text: |
      Scan: {{ scan.metadata.name }}
      Created at {{ scan.metadata.creationTimestamp}}
- type: section
  fields:
  - type: mrkdwn
    text: |
        *Findings Severity Overview*:
        {% for severity, counter in scan.status.findings.severities -%}
        {{ severity }}: {{ counter }}
        {% endfor %}
- type: section
  fields:
  - type: mrkdwn
    text: |
        *Findings Category Overview*:
        {% for category, counter in scan.status.findings.categories -%}
        {{ category }}: {{ counter }}
        {% endfor %}
- type: actions
  elements:
  - type: button
    text:
      type: plain_text
      text: Open Kibana Dashboard
      emoji: true
    value: click_me_123
    action_id: actionId-0
    url: https://securecodebox.io
  - type: button
    text:
      type: plain_text
      text: Show Results in Kibana Dashboard
      emoji: true
    value: click_me_123
    action_id: actionId-1
    url: https://securecodebox.io
