---
title: "Imperative  Scans"
path: "hooks/imperative-subsequent-scans"
category: "hook"
type: "integration"
state: "roadmap"
usecase: "Cascading Scans based imperative Rules."
---

## Deployment

Installing the imperative-subsequent-scans hook will add a ReadOnly Hook to your namespace. 

```bash
helm upgrade --install issh ./hooks/imperative-subsequent-scans/ 
```
> ✍ This documentation is currently work-in-progress. 

## Chart Configuration

{{ template "chart.valuesTable" . }}
