# SPDX-FileCopyrightText: the secureCodeBox authors
#
# SPDX-License-Identifier: Apache-2.0

resources:
  - manager.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: manager-config
    files:
      - controller_manager_config.yaml
