# SPDX-FileCopyrightText: the secureCodeBox authors
#
# SPDX-License-Identifier: Apache-2.0

# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

hack/
config/
bin/
controllers/
apis/
internal/
utils/
Dockerfile
go.mod
go.sum
main.go
Makefile
PROJECT
README.md.gotmpl
docs/
*.tar
cover.out
testbin/
*.license
./tests/