# SPDX-FileCopyrightText: the secureCodeBox authors
#
# SPDX-License-Identifier: Apache-2.0

**/node_modules
**/__pycache__
**/.pytest_cache
examples/
tests/
*.log
*.yaml
pytest.ini
test-requirements.txt
Makefile