# SPDX-FileCopyrightText: the secureCodeBox authors
#
# SPDX-License-Identifier: Apache-2.0

# shellcheck shell=sh
# https://direnv.net/man/direnv-stdlib.1.html
PATH_add bin
# shellcheck disable=SC2155
export PROJECT="$(pwd)"
