# SPDX-FileCopyrightText: 2021 iteratec GmbH
#
# SPDX-License-Identifier: Apache-2.0

.DS_Store

parser/
# this doesn't look too good but is required so that the scanners/scripts folder is included
scanner/*.*
scanner/zapclient/
scanner/tests/
scanner/venv/
scanner/.pytest_cache/
scanner/.idea/
examples/
docs/
integration-tests/
coverage/
Makefile

*.monopic
