# SPDX-FileCopyrightText: the secureCodeBox authors
#
# SPDX-License-Identifier: Apache-2.0

name: "CI"
on:
  push:
  pull_request:
  schedule:
    - cron: "15 2 * * *" # Nightly-Build at 2:15 AM UTC

env:
  # ---- Language Versions ----

  GO_VERSION: "1.17"
  PYTHON_VERSION: "3.9"
  NODE_VERSION: "16"
  NPM_VERSION: "7"

jobs:
  # ---- Unit-Test ----

  # ---- Unit-Test | Java ----

  unit-java:
    name: "Unit-Test | Java"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        unit: ["persistence-defectdojo"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "11" # The JDK version to make available on the path.
          java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
          architecture: x64 # (x64 or x86) - defaults to x64
      - run: |
          cd hooks/${{ matrix.unit }}/hook/
          ./gradlew test

  # ---- Build Stage ----

  # ---- Build Stage | Operator & Lurker ----

  operator:
    name: "Build | Operator"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component: ["operator", "lurker"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Go Setup
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Lint Go Code
        working-directory: ./${{ matrix.component }}
        run: |
          go fmt ./...
          go vet ./...

      - name: Build Container Image
        working-directory: ./operator
        run: make docker-build

      - name: Export Container Image
        working-directory: ./operator
        run: make docker-export-${{ matrix.component }}

      - name: Upload Image As Artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.component }}-image
          path: ./operator/${{ matrix.component }}.tar
          retention-days: 1

  # ---- Build Stage | AutoDiscovery ----

  auto-discovery-kubernetes:
    name: "AutoDiscovery | Kubernetes"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Go Setup
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Lint Go Code
        working-directory: ./auto-discovery/kubernetes
        run: |
          go fmt ./...
          go vet ./...

      - name: Test
        working-directory: ./auto-discovery/kubernetes/
        run: make test

      - name: Build Container Image
        working-directory: ./auto-discovery/kubernetes/
        run: make docker-build

      - name: Export Container Image
        working-directory: ./auto-discovery/kubernetes/
        run: make docker-export

      - name: Upload Image As Artifact
        uses: actions/upload-artifact@v2
        with:
          name: auto-discovery-image
          path: ./auto-discovery/kubernetes/auto-discovery-kubernetes.tar
          retention-days: 1      

  # ---- Build Stage | SDK Matrix ----

  sdk:
    name: "Build | SDKs"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sdk:
          - parser-sdk
          - hook-sdk
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build Image
        working-directory: ./${{ matrix.sdk }}/nodejs
        run: make docker-build-sdk

      - name: Export Image
        working-directory: ./${{ matrix.sdk }}/nodejs
        run: make docker-export-sdk

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.sdk }}-image
          path: ./${{ matrix.sdk }}/nodejs/${{ matrix.sdk }}.tar
          retention-days: 1

  # ---- New Makefile based CI Pipeline steps ----

  Integration-test-scanner:
    name: "Make Scanners"
    needs:
      - sdk
      - operator
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        unit:
          - amass
          - angularjs-csti-scanner
          - cmseek
          - git-repo-scanner
          - gitleaks
          - kubeaudit
          - kube-hunter
          - ncrack
          - nikto
          - nmap
          - nuclei
          - screenshooter
          - semgrep
          - ssh-scan
          - sslyze
          - trivy
          - typo3scan
          - whatweb
          - wpscan
          - zap
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        name: Setup Node
        with:
          node-version: ${{ env. NODE_VERSION }}

      - name: Update NPM
        run: npm i -g npm@${{ env.NPM_VERSION }}

      - name: Install Dependencies
        working-directory: ./scanners/${{ matrix.unit }}/
        run: make install-deps

      - name: Unit Tests
        working-directory: ./scanners/${{ matrix.unit }}/
        run: make unit-tests

      - name: Download Parser SDK Image
        uses: actions/download-artifact@v2
        with:
          name: parser-sdk-image
          path: /tmp

      - name: Load Parser SDK Image
        run: |
          docker load --input /tmp/parser-sdk.tar
          docker images | grep sdk

      - name: Build Images
        working-directory: ./scanners/${{ matrix.unit }}/
        run: make docker-build

      - name: Export Docker Images
        working-directory: ./scanners/${{ matrix.unit }}/
        run: make docker-export

      - name: "Start kind cluster"
        run: |
          kind version
          kind create cluster --wait 3m --image kindest/node:v1.22.0@sha256:b8bda84bb3a190e6e028b1760d277454a72267a5454b57db34437c34a588d047

      - name: "Inspect kind cluster"
        run: |
          kubectl config current-context
          kubectl get node

      - name: Download Operator Image
        uses: actions/download-artifact@v2
        with:
          name: operator-image
          path: ./operator

      - name: Download Lurker Image
        uses: actions/download-artifact@v2
        with:
          name: lurker-image
          path: ./operator

      - name: Import Operator & Lurker Image to kind cluster
        working-directory: ./operator
        run: make kind-import

      - name: Kind Import ${{ matrix.unit }} Image to kind cluster
        working-directory: ./scanners/${{ matrix.unit }}/
        run: make kind-import

      - name: Deploy Operator Chart to kind cluster
        working-directory: ./operator
        run: |
          make helm-deploy

      - name: Deploy ${{ matrix.unit }} Chart to kind cluster
        working-directory: ./scanners/${{ matrix.unit }}/
        run: make deploy

      - name: Deploy Test Dependencies
        working-directory: ./scanners/${{ matrix.unit }}/
        run: make deploy-test-deps

      - name: Start Integration Tests
        working-directory: ./scanners/${{ matrix.unit }}/
        run: make integration-tests

      # ---- Debuging Cluster on Failure ----

      - name: Inspect Post Failure
        if: failure()
        run: |
          echo "List all 'HelmCharts' in all namespaces"
          helm list --all-namespaces
          echo "List all 'Scans' in all namespaces"
          kubectl -n integration-tests get scan -o wide --all-namespaces
          echo "List all 'Jobs' in all namespaces"
          kubectl -n integration-tests get jobs -o wide --all-namespaces
          echo "List all 'Pods' in all namespaces"
          kubectl -n integration-tests get pods -o wide --all-namespaces
          echo "List all 'Services' in all namespaces"
          kubectl -n integration-tests get services -o wide --all-namespaces

      - name: "Inspect Operator"
        if: failure()
        run: |
          echo "Deployment in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get deployments
          echo "Deployment in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get pods
          echo "Operator Startup Logs"
          kubectl -n securecodebox-system logs deployment/securecodebox-controller-manager


  # ---- Build | Scanners | Custom Scanner | Nightly Build ----

  # This Section contains Scanners that are developed by the secureCodeBox project or require a nightly build
  # The tag for these images will be the Semver of the release

  zap-advanced:
    name: "Zap-advanced integration-test"
    if: ${{ github.event_name == 'schedule' }}
    needs:
      - sdk
      - operator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        name: Setup Node
        with:
          node-version: ${{ env. NODE_VERSION }}

      - name: Update NPM
        run: npm i -g npm@${{ env.NPM_VERSION }}

      - name: Install Dependencies
        working-directory: ./scanners/zap-advanced/
        run: make install-deps

      - name: Unit Tests
        working-directory: ./scanners/zap-advanced/
        run: make unit-tests

      - name: Download Parser SDK Image
        uses: actions/download-artifact@v2
        with:
          name: parser-sdk-image
          path: /tmp

      - name: Load Parser SDK Image
        run: |
          docker load --input /tmp/parser-sdk.tar
          docker images | grep sdk

      - name: Build Images
        working-directory: ./scanners/zap-advanced/
        run: make docker-build

      - name: Export Docker Images
        working-directory: ./scanners/zap-advanced/
        run: make docker-export

      - name: "Start kind cluster"
        run: |
          kind version
          kind create cluster --wait 3m --image kindest/node:v1.22.0@sha256:b8bda84bb3a190e6e028b1760d277454a72267a5454b57db34437c34a588d047

      - name: "Inspect kind cluster"
        run: |
          kubectl config current-context
          kubectl get node

      - name: Download Operator Image
        uses: actions/download-artifact@v2
        with:
          name: operator-image
          path: ./operator

      - name: Download Lurker Image
        uses: actions/download-artifact@v2
        with:
          name: lurker-image
          path: ./operator

      - name: Import Operator & Lurker Image
        working-directory: ./operator
        run: make kind-import

      - name: Kind Import Images
        working-directory: ./scanners/zap-advanced/
        run: make kind-import

      - name: Install Operator
        working-directory: ./operator
        run: |
          make helm-deploy

      - name: Deploy zap-advanced
        working-directory: ./scanners/zap-advanced/
        run: make deploy

      - name: Deploy Test Dependencies
        working-directory: ./scanners/zap-advanced/
        run: make deploy-test-deps

      - name: Start Integration Tests
        working-directory: ./scanners/zap-advanced/
        run: make integration-tests

      # ---- Debuging Cluster on Failure ----

      - name: Inspect Post Failure
        if: failure()
        run: |
          echo "List all 'HelmCharts' in all namespaces"
          helm list --all-namespaces
          echo "List all 'Scans' in all namespaces"
          kubectl -n integration-tests get scan -o wide --all-namespaces
          echo "List all 'Jobs' in all namespaces"
          kubectl -n integration-tests get jobs -o wide --all-namespaces
          echo "List all 'Pods' in all namespaces"
          kubectl -n integration-tests get pods -o wide --all-namespaces
          echo "List all 'Services' in all namespaces"
          kubectl -n integration-tests get services -o wide --all-namespaces

      - name: "Inspect Operator"
        if: failure()
        run: |
          echo "Deployment in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get deployments
          echo "Deployment in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get pods
          echo "Operator Startup Logs"
          kubectl -n securecodebox-system logs deployment/securecodebox-controller-manager

  # ---- Integration Tests ----

  Integration-tests-hooks:
    name: Integration Tests Hook ${{ matrix.hook }} | k8s ${{ matrix.k8sVersion }}
    needs:
      - operator
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8sVersion:
          - v1.23.0@sha256:2f93d3c7b12a3e93e6c1f34f331415e105979961fcddbe69a4e3ab5a93ccbb35
          - v1.22.4@sha256:ca3587e6e545a96c07bf82e2c46503d9ef86fc704f44c17577fca7bcabf5f978
          - v1.21.2@sha256:9d07ff05e4afefbba983fac311807b3c17a5f36e7061f6cb7e2ba756255b2be4
          - v1.20.7@sha256:cbeaf907fc78ac97ce7b625e4bf0de16e3ea725daf6b04f930bd14c67c671ff9
        hook:
          - cascading-scans
          - generic-webhook
          - persistence-azure-monitor
          #- persistence-elastic Deployment step is successful locally, but fails on the CI
          - update-field
          - finding-post-processing
          - notification
          # - persistence-static-report (WIP)
    steps:
      - uses: actions/checkout@master
      - name: "Start kind cluster"
        run: |
          kind version
          kind create cluster --image kindest/node:${{ matrix.k8sVersion }} --wait 3m
      - name: "Inspect kind cluster"
        run: |
          kubectl config current-context
          kubectl get node

      # ---- Install Operator & Create Namespaces ----

      - name: Download Operator Image
        uses: actions/download-artifact@v2
        with:
          name: operator-image
          path: ./operator

      - name: Download Lurker Image
        uses: actions/download-artifact@v2
        with:
          name: lurker-image
          path: ./operator

      - name: Import Operator & Lurker Image
        working-directory: ./operator
        run: make kind-import

      - name: "Install Operator"
        working-directory: ./operator
        run: make helm-deploy

      # ---- Operator Health Check ----

      - name: "Inspect Operator"
        run: |
          echo "Deployment in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get deployments
          echo "Pods in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get pods
          echo "Operator Startup Logs"
          kubectl -n securecodebox-system logs deployment/securecodebox-controller-manager

      - name: "Create 'demo-targets' namespace"
        run: "kubectl create namespace demo-targets"

      # ---- Import Parser SDK Artifact

      - name: Download Parser SDK Image
        uses: actions/download-artifact@v2
        with:
          name: parser-sdk-image
          path: /tmp

      - name: Load Parser SDK Image
        run: |
          docker load --input /tmp/parser-sdk.tar
          docker images | grep sdk    

      # ---- Import Hook SDK Artifact

      - name: Download Hook SDK Image
        uses: actions/download-artifact@v2
        with:
          name: hook-sdk-image
          path: /tmp

      - name: Load Parser SDK Image
        run: |
          docker load --input /tmp/hook-sdk.tar
          docker images | grep sdk    

      # ----- Build Test-Scan ScanType Image ---- 

      - name: Build Images
        working-directory: ./scanners/test-scan/
        run: make docker-build

      - name: Export Docker Images
        working-directory: ./scanners/test-scan/
        run: make docker-export

      - name: Kind import
        working-directory: ./scanners/test-scan/
        run: make kind-import

      - name: Test-scan deploy
        working-directory: ./scanners/test-scan/
        run: make deploy

      # ----- Build Hook Image ---- 

      - name: Build Images
        working-directory: ./hooks/${{ matrix.hook }}
        run: make docker-build

      - name: Export Docker Images
        working-directory: ./hooks/${{ matrix.hook }}
        run: make docker-export

      - name: Kind import
        working-directory: ./hooks/${{ matrix.hook }}
        run: make kind-import
        
      # ---- Install Test Dependencies ----

      - name: "Install Test Dependencies"
        working-directory: ./hooks
        run: npm ci

      - name: "Install Test Dependencies"
        working-directory: ./tests/integration
        run: npm ci

      # ---- Integration-Test ----

      - name: Deploy ${{ matrix.unit }}
        working-directory: ./hooks/${{ matrix.hook }}
        run: make deploy
      
      - name: Deploy Test Dependencies
        working-directory: ./hooks/${{ matrix.hook }}
        run: make deploy-test-deps

      - name: "Run Integration Test"
        working-directory: ./hooks/${{ matrix.hook }}
        run: make integration-tests 

      # ---- Debuging Cluster on Failure ----

      - name: Inspect Post Failure
        if: failure()
        run: |
          echo "List all 'HelmCharts' in all namespaces"
          helm list --all-namespaces
          echo "List all 'Scans' in all namespaces"
          kubectl -n integration-tests get scan -o wide --all-namespaces
          echo "List all 'Jobs' in all namespaces"
          kubectl -n integration-tests get jobs -o wide --all-namespaces
          echo "List all 'Pods' in all namespaces"
          kubectl -n integration-tests get pods -o wide --all-namespaces
          echo "List all 'Services' in all namespaces"
          kubectl -n integration-tests get services -o wide --all-namespaces

      - name: "Inspect Operator"
        if: failure()
        run: |
          echo "Deployment in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get deployments
          echo "Deployment in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get pods
          echo "Operator Startup Logs"
          kubectl -n securecodebox-system logs deployment/securecodebox-controller-manager

      - name: Test-scan integration-tests
        working-directory: ./scanners/test-scan/
        run: |
          helm -n integration-tests upgrade --install test-scan . \
            --set="scanner.image.repository=docker.io/securecodebox/scanner-test-scan" \
            --set="parser.image.repository=docker.io/securecodebox/parser-test-scan" \
            --set="parser.image.tag=sha-$(git rev-parse --short HEAD)" \
            --set="scanner.image.tag=sha-$(git rev-parse --short HEAD)" \
            --set="parser.env[0].name=CRASH_ON_FAILED_VALIDATION" \
            --set-string="parser.env[0].value=true"  \
            --set="parser.env[1].name=PRODUCE_INVALID_FINDINGS" \
            --set-string="parser.env[1].value=true"
          make integration-tests

      # ---- Clean UP ----

      - name: "Delete kind cluster"
        run: |
          kind delete cluster
