on: push
name: "CI"
jobs:
  unit:
    name: "Test / Unit / Node.js Code"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: "list files and folders"
        run: ls
      - name: "Install npm dependencies in all parser sub projects"
        run: |
          for dir in scanners/*/parser/
          do
              cd $dir
              if [ -f package.json ] && [ -f package-lock.json ]; then
                  echo "Installing dependencies for $dir"
                  npm ci
              fi
              # cd back
              cd -
          done
      - name: "Install npm dependencies in all hook sub projects"
        run: |
          for dir in hooks/*/
          do
              cd $dir
              if [ -f package.json ] && [ -f package-lock.json ]; then
                  echo "Installing dependencies for $dir"
                  npm ci
              fi
              # cd back
              cd -
          done
      - name: "Install npm test dependencies"
        run: |
          npm ci
          cd scanners/
          npm ci
          cd -
          cd hooks/
          npm ci
      - name: "Compile Typescript"
        run: |
          cd hooks/declarative-subsequent-scans
          npm run build
      - name: "Run tests & publish code coverage"
        uses: paambaati/codeclimate-action@v2.6.0
        env:
          CC_TEST_REPORTER_ID: 80b305e484240da8cecbd1d017dfb365d3ee7f4508b5ed8fd9e9348efd286406
        with:
          coverageCommand: npm test -- --ci --colors --coverage
  operator:
    name: "Build / Operator"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2-beta
        with:
          go-version: "1.15"
      - name: "Lint Operator Go Code"
        run: |
          cd operator/
          go fmt ./...
          go vet ./...
      - name: "Build'n Push Operator"
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/operator
          tag_with_ref: true
          tag_with_sha: true
          path: ./operator/
  lurcher:
    name: "Build / Lurcher"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2-beta
        with:
          go-version: "1.15"
      - name: "Lint Lurcher Go Code"
        run: |
          cd lurcher/
          go fmt ./...
          go vet ./...
      - uses: docker/build-push-action@v1
        name: "Build & Push Lurcher Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/lurcher
          tag_with_ref: true
          tag_with_sha: true
          path: ./lurcher/
  parserImages:
    name: "Build / Parsers"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      # SDK
      - uses: docker/build-push-action@v1
        name: "Build & Push Parser SDK"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-sdk-nodejs
          path: ./parser-sdk/nodejs/
          tag_with_ref: true
          tag_with_sha: true
          tags: "ci-local"
      # Actual Parsers
      - uses: docker/build-push-action@v1
        name: "Build & Push Amass Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-amass
          path: ./scanners/amass/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push kube-hunter Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-kube-hunter
          path: ./scanners/kube-hunter/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push Ncrack Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-ncrack
          path: ./scanners/ncrack/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push Nikto Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-nikto
          path: ./scanners/nikto/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push Nmap Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-nmap
          path: ./scanners/nmap/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push ssh_scan Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-ssh-scan
          path: ./scanners/ssh_scan/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push SSLyze Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-sslyze
          path: ./scanners/sslyze/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push test-scan Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-test-scan
          path: ./scanners/test-scan/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push Trivy Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-trivy
          path: ./scanners/trivy/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push OWASP Zap Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-zap
          path: ./scanners/zap/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push wpscan Parser Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/parser-wpscan
          path: ./scanners/wpscan/parser/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local

  hookImages:
    name: "Build / Hooks"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      # SDK
      - uses: docker/build-push-action@v1
        name: "Build & Push Hook SDK"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/hook-sdk-nodejs
          path: ./hook-sdk/nodejs/
          tag_with_ref: true
          tags: "ci-local"
      # Actual PersistenceProviders
      - uses: docker/build-push-action@v1
        name: "Build & Push Elastic PersistenceProvider Hook Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/persistence-elastic
          path: ./hooks/persistence-elastic/
          tag_with_ref: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push Elastic PersistenceProvider Dashboard Importer Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/persistence-elastic-dashboard-importer
          path: ./hooks/persistence-elastic/dashboardImporter/
          tag_with_ref: true
      - uses: docker/build-push-action@v1
        name: "Build & Push GenericWebhook Hook Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/generic-webhook
          path: ./hooks/generic-webhook/
          tag_with_ref: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push ImperativeSubsequentScans Hook Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/hook-imperative-subsequent-scans
          path: ./hooks/imperative-subsequent-scans/
          tag_with_ref: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push DeclarativeSubsequentScans Hook Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/hook-declarative-subsequent-scans
          path: ./hooks/declarative-subsequent-scans/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
      - uses: docker/build-push-action@v1
        name: "Build & Push UpdateField Hook Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/update-field
          path: ./hooks/update-field/
          tag_with_ref: true
          tag_with_sha: true
          build_args: baseImageTag=ci-local
  scannerImages:
    # Note we only build images for scanner that don't provider official public container images
    name: "Build / Scanner"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: docker/build-push-action@v1
        name: "Build & Push Ncrack Scanner Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/ncrack
          path: ./scanners/ncrack/scanner/
          # Note: not prefixed with a "v" as this seems to match ncrack versioning standards
          tags: "0.7,latest"
      - uses: docker/build-push-action@v1
        name: "Build & Push Nmap Scanner Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/nmap
          path: ./scanners/nmap/scanner/
          # Note: not prefixed with a "v" as this seems to match nmap versioning standards
          tags: "7.80,7.80-2,latest"
      - uses: docker/build-push-action@v1
        name: "Build & Push kube-hunter Scanner Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/kube-hunter
          path: ./scanners/kube-hunter/scanner/
          # Note: not prefixed with a "v" as this matches the aquasec/kube-hunter tags
          tags: "0.3.0,latest"
      - uses: docker/build-push-action@v1
        name: "Build & Push test-scan Scanner Image"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: scbexperimental/test-scan
          path: ./scanners/test-scan/scanner/
          # Note: not prefixed with a "v" as this seems to match nmap versioning standards
          tags: "latest"
  integrationTests:
    name: "Test / Integration / k8s ${{ matrix.k8sVersion }}"
    needs:
      - scannerImages
      - hookImages
      - parserImages
      - operator
      - lurcher
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8sVersion: ["1.19.0", "1.18.8", "1.17.5", "1.16.9"]
    steps:
      - uses: actions/checkout@master
      - name: "Start kind cluster"
        run: |
          kind create cluster --image kindest/node:v${{ matrix.k8sVersion }} --wait 3m
      - name: "Inspect kind cluster"
        run: |
          kubectl config current-context
          kubectl get node
      - name: "Install Operator"
        run: |
          # Namespace in which the scans for the tests will be executed
          kubectl create namespace integration-tests

          # Operator Namespace
          kubectl create namespace securecodebox-system
          # Install Operator using the images of the current commit
          helm -n securecodebox-system install securecodebox-operator ./operator/ --wait \
            --set="image.tag=sha-$(git rev-parse --short HEAD)" \
            --set="lurcher.image.tag=sha-$(git rev-parse --short HEAD)" \
      - name: "Inspect Operator"
        run: |
          echo "Deployment in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get deployments
          echo "Pods in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get pods
          echo "Operator Startup Logs"
          kubectl -n securecodebox-system logs deployment/securecodebox-controller-manager
      - name: "Create 'demo-apps' namespace"
        run: "kubectl create namespace demo-apps"
      - name: "Install Test Dependencies"
        run: |
          cd tests/integration/
          npm ci
      # This steps should include Integration tests which are not related to a Specific Scanner
      - name: "Throws NoScanDefiniton Error Integration Tests"
        run: |
          cd tests/integration/
          npx jest --ci --color no-scan-definition-error
      - name: "Hooks (ReadAndWrite) Integration Tests"
        run: |
          helm -n integration-tests install update-category ./hooks/update-field/ \
            --set="image.tag=sha-$(git rev-parse --short HEAD)" \
            --set="attribute.name=category" \
            --set="attribute.value=fancy-category"
          helm -n integration-tests install update-severity ./hooks/update-field/ \
            --set="image.tag=sha-$(git rev-parse --short HEAD)" \
            --set="attribute.name=severity" \
            --set="attribute.value=high"
          helm -n integration-tests install test-scan ./scanners/test-scan/ --set="parserImage.tag=sha-$(git rev-parse --short HEAD)"
          cd tests/integration/
          npx jest --ci --color read-write-hook
          helm -n integration-tests uninstall test-scan update-category update-severity
      - name: "Hooks (ReadOnly) Integration Tests"
        run: |
          helm -n integration-tests install test-scan ./scanners/test-scan/ --set="parserImage.tag=sha-$(git rev-parse --short HEAD)"
          helm -n integration-tests install http-webhook ./demo-apps/http-webhook
          helm -n integration-tests install ro-hook ./hooks/generic-webhook/ --set="webhookUrl=http://http-webhook/hallo-welt"
          cd tests/integration/
          npx jest --ci --color read-only-hook
          helm -n integration-tests uninstall test-scan http-webhook ro-hook
      - name: "Install Demo Apps"
        run: |
          # Install dummy-ssh app
          helm -n demo-apps install dummy-ssh ./demo-apps/dummy-ssh/ --wait
      - name: "nmap Integration Tests"
        run: |
          helm -n integration-tests install nmap ./scanners/nmap/ --set="parserImage.tag=sha-$(git rev-parse --short HEAD)"
          cd tests/integration/
          npx jest --ci --color nmap
      - name: "ncrack Integration Tests"
        run: |
          helm -n integration-tests install ncrack ./scanners/ncrack/ --set="parserImage.tag=sha-$(git rev-parse --short HEAD)"
          cd tests/integration/
          npx jest --ci --color ncrack
      - name: "kube-hunter Integration Tests"
        run: |
          helm -n integration-tests install kube-hunter ./scanners/kube-hunter/ --set="parserImage.tag=sha-$(git rev-parse --short HEAD)"
          cd tests/integration/
          npx jest --ci --color kube-hunter
      - name: "ssh-scan Integration Tests"
        run: |
          helm -n integration-tests install ssh-scan ./scanners/ssh_scan/ --set="parserImage.tag=sha-$(git rev-parse --short HEAD)"
          cd tests/integration/
          npx jest --ci --color ssh-scan
      - name: Inspect Post Failure
        if: failure()
        run: |
          kubectl -n integration-tests get scan -o wide
          kubectl -n integration-tests get jobs -o wide
          kubectl -n integration-tests get pods -o wide
      - name: "Inspect Operator"
        if: failure()
        run: |
          echo "Deployment in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get deployments
          echo "Deployment in namespace 'securecodebox-system'"
          kubectl -n securecodebox-system get pods
          echo "Operator Startup Logs"
          kubectl -n securecodebox-system logs deployment/securecodebox-controller-manager
      - name: "Delete kind cluster"
        run: |
          kind delete cluster
