# SPDX-FileCopyrightText: 2020 iteratec GmbH
#
# SPDX-License-Identifier: Apache-2.0

name: "Update Helm Docs"

on:
  push:

jobs:
  helm-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_COMMITS_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_COMMITS_PASSPHRASE }}
          git-user-signingkey: true
          git-commit-gpgsign: true

      - name: Download Helm Docs
        run: |
          mkdir helm-docs
          cd helm-docs

          curl --output helm-docs.tar.gz --location https://github.com/norwoodj/helm-docs/releases/download/v1.5.0/helm-docs_1.5.0_Linux_x86_64.tar.gz
          tar -xvf helm-docs.tar.gz
          # Verify installation
          ./helm-docs --version

      - name: Generate Helm Docs
        run: |
          ./helm-docs/helm-docs --template-files=./.helm-docs/templates.gotmpl --template-files=.helm-docs.gotmpl --template-files=./../../.helm-docs/README.md.gotmpl
      - name: Generate Docker Scanner Docs
        run: |
          # Start in the scanners folder
          cd scanners
          # https://github.com/koalaman/shellcheck/wiki/SC2044
          find . -type f -name Chart.yaml -print0 | while IFS= read -r -d '' chart; do
          (
            dir="$(dirname "${chart}")"
            echo "Processing Helm Chart in $dir"
            cd "${dir}" || exit
            if [ -d "docs" ]; then
              echo "Docs Folder found at: ${dir}/docs"
              if [ -d "parser" ]; then
                echo "Parser found at: ${dir}/parser"
                ./../../helm-docs/helm-docs --template-files=./../../.helm-docs/templates.gotmpl --template-files=.helm-docs.gotmpl --template-files=./../../.helm-docs/README.DockerHub-Parser.md.gotmpl --output-file=docs/README.DockerHub-Parser.md
              fi
              if [ -d "scanner" ]; then
                echo "Scanner found at: ${dir}/parser"
                ./../../helm-docs/helm-docs --template-files=./../../.helm-docs/templates.gotmpl --template-files=.helm-docs.gotmpl --template-files=./../../.helm-docs/README.DockerHub-Scanner.md.gotmpl --output-file=docs/README.DockerHub-Scanner.md
              fi
              ./../../helm-docs/helm-docs --template-files=./../../.helm-docs/templates.gotmpl --template-files=.helm-docs.gotmpl --template-files=./../../.helm-docs/README.ArtifactHub.md.gotmpl --output-file=docs/README.ArtifactHub.md
            else
              echo "Ignoring Docs creation for Chart $dir, because no docs folder found at: ${dir}/docs"
            fi
          )
          done
      - name: Remove Helm Docs Files
        run: |
          # Remove helm-docs download to ensure they don't get commited back
          rm -rf helm-docs
      - uses: stefanzweifel/git-auto-commit-action@v4.11.0
        with:
          commit_message: Updating Helm Docs
          commit_user_email: securecodebox@iteratec.com
