# SPDX-FileCopyrightText: the secureCodeBox authors
#
# SPDX-License-Identifier: Apache-2.0

name: Check License Compliance
on:
  push:
    branches:
      - main
      - v[0-9]+.x
  pull_request:

permissions:
  contents: read

jobs:
  license-check:
    runs-on: ubuntu-24.04
    if: github.repository == 'secureCodeBox/secureCodeBox'
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6.0.0
        with:
          args: --include-submodules lint
