# SPDX-FileCopyrightText: the secureCodeBox authors
#
# SPDX-License-Identifier: Apache-2.0

name: Check License Compliance
on:
  push:
    branches:
      - main
      - v[0-9]+.x
  pull_request:

jobs:
  license-check:
    runs-on: ubuntu-22.04
    if: github.repository == 'secureCodeBox/secureCodeBox'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v3
        with:
          args: --include-submodules lint
